APT::Periodic::Unattended-Upgrade "1";

{% if upgrades_update_package_lists is defined %}
APT::Periodic::Update-Package-Lists "{{ upgrades_update_package_lists }}";
{% endif %}

{% if upgrades_download_upgradeable_packages is defined %}
APT::Periodic::Download-Upgradeable-Packages "{{ upgrades_download_upgradeable_packages }}";
{% endif %}

{% if upgrades_autoclean_interval is defined %}
APT::Periodic::AutocleanInterval "{{ upgrades_autoclean_interval }}";
{% endif %}

{% if upgrades_clean_interval is defined %}
APT::Periodic::CleanInterval "{{ upgrades_clean_interval }}";
{% endif %}

{% if upgrades_verbose is defined %}
APT::Periodic::Verbose "{{ upgrades_verbose }}";
{% endif %}

{% if upgrades_random_sleep is defined %}
APT::Periodic::RandomSleep "{{ upgrades_random_sleep }}";
{% endif %}
