// Unattended-Upgrade::Origins-Pattern controls which packages are
// upgraded.
Unattended-Upgrade::Origins-Pattern {
        {% if ansible_distribution == "Debian" %}
        {% if upgrades_all_updates %}
        "o=Debian,a={{ ansible_distribution_release }}-updates";
        {% endif %}
        "origin=Debian,codename={{ ansible_distribution_release }},label=Debian-Security";
        {% elif ansible_distribution == "Ubuntu" %}
        {% if upgrades_all_updates %}
        "o=Ubuntu,a={{ ansible_distribution_release }}-updates";
        {% endif %}
        "origin=Ubuntu,a={{ ansible_distribution_release }}-security,label=Ubuntu";
        {% endif %}

};

// List of packages to not update (regexp are supported)
Unattended-Upgrade::Package-Blacklist {
        {% for package in upgrades_package_blacklist %}
        "{{package}}";
        {% endfor %}

};

// This option allows you to control if on a unclean dpkg exit
// unattended-upgrades will automatically run 
//   dpkg --force-confold --configure -a
// The default is true, to ensure updates keep getting installed
{% if upgrades_auto_fix_interrupted %}
Unattended-Upgrade::AutoFixInterruptedDpkg "true";
{% else %}
Unattended-Upgrade::AutoFixInterruptedDpkg "false";
{% endif %}

// Split the upgrade into the smallest possible chunks so that
// they can be interrupted with SIGUSR1. This makes the upgrade
// a bit slower but it has the benefit that shutdown while a upgrade
// is running is possible (with a small delay)
{% if upgrades_minimal_steps %}
Unattended-Upgrade::MinimalSteps "true";
{% else %}
Unattended-Upgrade::MinimalSteps "false";
{% endif %}

// Install all unattended-upgrades when the machine is shuting down
// instead of doing it in the background while the machine is running
// This will (obviously) make shutdown slower
{% if upgrades_install_on_shutdown %}
Unattended-Upgrade::InstallOnShutdown "true";
{% else %}
Unattended-Upgrade::InstallOnShutdown "false";
{% endif %}

{% if upgrades_mail is defined %}
// Send email to this address for problems or packages upgrades
// If empty or unset then no email is sent, make sure that you
// have a working mail setup on your system. A package that provides
// 'mailx' must be installed. E.g. "user@example.com"
Unattended-Upgrade::Mail "{{ updades_mail }};
{% endif %}

// Set this value to "true" to get emails only on errors. Default
// is to always send a mail if Unattended-Upgrade::Mail is set
{% if upgrades_mail_only_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% else %}
Unattended-Upgrade::MailOnlyOnError "false";
{% endif %}

// Do automatic removal of new unused dependencies after the upgrade
// (equivalent to apt-get autoremove)
{% if upgrades_remove_unused_dependencies %}
Unattended-Upgrade::Remove-Unused-Dependencies "true";
{% else %}
Unattended-Upgrade::Remove-Unused-Dependencies "false";
{% endif %}

// Automatically reboot *WITHOUT CONFIRMATION* if
//  the file /var/run/reboot-required is found after the upgrade 
{% if upgrades_automatic_reboot %}
Unattended-Upgrade::Automatic-Reboot "true";
{% else %}
Unattended-Upgrade::Automatic-Reboot "false";
{% endif %}

// Automatically reboot even if there are users currently logged in.
{% if upgrades_automatic_reboot_with_users %}
Unattended-Upgrade::Automatic-Reboot-WithUsers "true";
{% else %}
Unattended-Upgrade::Automatic-Reboot-WithUsers "false";
{% endif %}

// If automatic reboot is enabled and needed, reboot at the specific
// time instead of immediately
//  Default: "now"
{% if upgrades_reboot_time is defined %}
Unattended-Upgrade::Automatic-Reboot-Time "{{ upgrades_reboot_time}}";
{% else %}
Unattended-Upgrade::Automatic-Reboot-Time "now";
{% endif %}

{% if upgrades_bandwidth_limit is defined %}
Acquire::http::Dl-Limit "{{ upgrades_bandwidth_limit }}";
{% endif %}

// Enable logging to syslog. Default is False
{% if upgrades_enable_syslog %}
Unattended-Upgrade::SyslogEnable "true";
{% else %}
Unattended-Upgrade::SyslogEnable "false";
{% endif %}

// Specify syslog facility. Default is daemon
{% if upgrades_syslog_facility is defined %}
Unattended-Upgrade::SyslogFacility "{{ upgrades_syslog_facility }}";
{% else %}
Unattended-Upgrade::SyslogFacility "daemon";
{% endif %}
